/* CATEGORIES */

.categories {
    display: flex;

    gap: 2rem;
    justify-content: space-between;

    padding: 2rem 4rem;

    margin: 0 auto;

    background-color: #E8F5F9;
    border-radius: 40px;

    flex-wrap: wrap;
}

.categories__item {
    padding: 1.8rem 3.2rem;
    border-radius: 40px;

    text-align: center;
}

.categories__item.active {
    background-color: #1298BD;
    color: #fff;
}

.categories__item:not(.active):hover {
    background-color: rgba(18, 152, 189, 0.5);
    cursor: pointer;
    color: #fff;
}

/* NEWS */

.page__title.section__header-title {
    margin: 4rem 0 4rem 0;
    border: none;
}

.news__body {
    flex: 1 1 70%;
}

/* SIDEBAR */

.sidebar {
    flex: 1 1 31%;
}

.sidebar__item {
    padding: 4rem;

    background-color: #E8F5F9;
    border-radius: 40px;

    margin-bottom: 4rem;

    position: relative;
}

.sidebar__item.telegram {
    margin-bottom: 0;
}

.section__header-title.sidebar__title {
    margin: 0 0 2rem 0;

    border: none;
}

.sidebar__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.sidebar__content .categories__item {
    width: 45%;
}

.section__header-title a {
    color: #BD1212;
}

.sidebar__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 2rem auto 0;
}

@media (max-width: 1440px) {}

@media (max-width: 1230px) {

    .categories .categories__item {
        width: 31%;
    }

    .sidebar__content .categories__item {
        width: 100%;
    }

}

@media (max-width: 993px) {

    .sidebar {
        display: flex;
        gap: 4rem;
    }

    .sidebar__content .categories__item {
        width: 45%;
    }

}

@media (max-width: 770px) {

    .sidebar__item {
        padding: 3rem;
    }

    .categories {
        padding: 2rem;
    }

    .categories .categories__item {
        width: 45%;
    }

    .sidebar__content .categories__item {
        width: 100%;
    }

}

@media (max-width: 575px) {

    .sidebar {
        display: block;
    }

    .sidebar__item {
        width: 100%;
    }

    .number__pages {
        margin: 4rem auto 0 auto;
    }

    .categories .categories__item {
        width: 100%;
    }

    .sidebar__content .categories__item {
        width: 45%;
    }

}

@media (max-width: 300px) {}