@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.ttf) format('truetype');

    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Medium.ttf) format('truetype');

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.ttf) format('truetype');

    font-weight: 600;
    font-style: normal;
}

html {
    font-size: 62.5%;
}


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;

    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #000;
}

i {
    color: #3A2E38;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.section {
    padding: 4rem 0;
}

.section--blue {
    background-color: rgba(18, 152, 189, .1);
}

.section.section--modal {
    padding: 0;
}

/* SECTION HEADER */

.section__header {
    display: flex;
    align-items: center;

    margin: 0 0 4rem 0;
}

.section__header-title {
    font-weight: 700;
    font-size: 32px;
    padding-right: 2rem;
    border-right: 4px solid #1298BD;
    margin-right: 2rem;
}

.section__header-subtitle {
    font-weight: 600;
    font-size: 2rem;
}

.section__header-subtitle span {
    margin-right: 1rem;
}

/* HEADER */

.header {
    background: #E8F5F9;
    border-radius: 0px 0px 40px 40px;
    width: 100%;
    padding: 1.5rem 0;
}

.header__inner {
    display: flex;
    align-items: center;

    position: relative;
}

.header__logo {
    margin-right: 5.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
}

.nav__group {
    display: flex;
    gap: 4rem;
}

.nav__item {
    display: flex;
    align-items: center;

    gap: 4rem;
}

.nav__item.nav__item-contacts {
    gap: 4rem;
}

.nav__link {
    padding: 1rem;

    transition: all 0.3s linear;
}

.nav__item-contacts .nav__link {
    padding: 0;
}

.nav__link-item {
    display: block;
    position: relative;
    width: 100%;
}

.nav__link-item img {
    position: absolute;
    top: 50%;
    left: 0;
    object-fit: cover;
    transform: translateY(-50%);
}

/* NAV__TOGGLE */

.nav-toggle {
    display: none;
    width: 30px;
    padding: 1rem 0;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 101;

    transform: translateY(-50%);
}

.nav-toggle.active {
    top: 40%;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #1298BD;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background 0.2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 30px;
    height: 3px;

    background-color: #1298BD;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform 0.2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    top: 8px;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}

/* BURGER */

.burger {
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 4rem;

    border-left: 1px solid #1298BD;
    border-bottom: 1px solid #1298BD;

    width: 320px;

    display: none;
    position: absolute;
    top: -15px;
    right: -30px;
    z-index: 100;

    background-color: #fff;
}

.burger.active {
    display: block;
}

.burger-header__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #1298BD;
    margin-bottom: 2rem;
}

.burger-header__logo {
    margin-top: 5rem;
}

.burger-nav__item.burger-nav__item-info {
    margin-top: 4rem;
}

.burger-nav__link {
    margin-bottom: 1rem;
}

.burger-nav__link:last-child {
    margin-bottom: 0;
}

.burger-nav__link:hover {
    color: #1298BD;
}

.burger-nav__item-info .nav__link {
    padding: 0;
}

.burger-nav__link-item {
    display: flex;
    gap: 0.5rem;
}

.burger-nav__link-icon {
    position: relative;
    padding-left: 2.5rem;
}

.burger-nav__link-icon img {
    position: absolute;
    top: 50%;
    left: 0;
    object-fit: cover;
    transform: translateY(-50%);
}


/* BUTTON */

.button {
    padding: 1.5rem 3.2rem;

    font-weight: 400;
    color: #fff;

    line-height: 1.2;
    font-size: 1.6rem;

    background-color: #1298BD;
    border: 1px solid transparent;
    border-radius: 40px;

    cursor: pointer;

    height: fit-content;
    width: fit-content;
}

.button:hover {
    background-color: #fff;
    color: #000;
    border-color: #1298BD;
}

.button.button--white {
    background-color: #fff;
    color: #000;
    border-color: #1298BD;
}

.button.button--white:hover {
    background-color: #1298BD;
    border: 1px solid transparent;
    color: #fff;
}

/* INTRO */

.intro {
    padding: 8rem 0;

    width: 100%;
}

.intro__inner {
    position: relative;
}

.intro__title {
    max-width: 940px;

    font-weight: 600;
    font-size: 6.4rem;
    line-height: 75px;
}

.intro__title span {
    background-color: #1298BD;
    color: #fff;
    padding: 0 .5rem;
}

.intro__subtitle {
    max-width: 453px;

    font-weight: 600;
    font-size: 2rem;

    margin: 4rem 0 6rem 0;
}

.intro__image {
    position: absolute;
    left: 740px;
    bottom: 0;
    z-index: 10;
}

.promo {
    margin: 13rem 0 0 0;

    display: flex;
    gap: 4rem;
}

.promo__text {
    margin-top: 2rem;
    max-width: 207px;
}

/* WORKS */

/* .works {} */

.works__slider {
    display: flex;
}

.works__item {
    text-align: center;
}

.works__item-content {
    text-align: center;
}

/* .works__item-img {} */

.works__item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;

    border-radius: 40px;
}

.works__item-title {
    margin: 2rem 0 1rem 0;
}

.item__title {
    font-weight: 600;
    font-size: 20px;
}

.works__item-text {
    max-width: 220px;
    margin: 0 auto 2rem auto;
}

/* SLIDER */

/* Слайдер */
.slick-slider {
    cursor: grabbing;
    padding: 0 2rem 0 4rem;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    min-width: 0;
}

/* Слайд */
/* .slick-slide {} */

.reviews__item.slick-slide {
    flex: 1 1 0;
}

.slick-initialized .slick-slide {
    margin-right: 2rem;
}

/* Слайд активный (показывается) */
/* .slick-slide.slick-active {} */

/* Слайд основной */
/* .slick-slide.slick-current {} */

/* Слайд по центру */
/* .slick-slide.slick-center {} */

/* Клонированный слайд */
/* .slick-slide.slick-cloned {} */

/* Стрелка */
.slick-arrow {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translateY(-50%);
    font-size: 0;
    width: 34px;
    height: 44px;
    border: none;

    filter: brightness(0) saturate(100%) invert(46%) sepia(75%) saturate(523%) hue-rotate(146deg) brightness(93%) contrast(94%);
}

.slick-arrow:hover {
    filter: brightness(0) saturate(100%) invert(46%) sepia(75%) saturate(523%) hue-rotate(146deg) brightness(93%) contrast(94%) opacity(50%);
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    background: url(../img/slider/arrow.png) center no-repeat;
    left: 0;
    transform: translateY(-50%) rotate(180deg);
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    background: url(../img/slider/arrow.png) center no-repeat;
    right: 0;
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
    filter: invert(36%) sepia(91%) saturate(453%) hue-rotate(146deg) brightness(114%) contrast(93%) opacity(30%);
}

.slider__item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    color: rgba(18, 152, 189, 0.3);
    color: #1298BD;
}

/* CARD */

.card {
    display: flex;
    gap: 4rem;
}

.card__item {
    width: 33%;
    max-width: 453px;

    position: relative;

    padding: 4rem 1.6rem 4rem 4rem;

    background: #E8F5F9;
    border-radius: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow: hidden;
}

/* .card__content {
    height: 350px;
} */

.card__item.first .card__list {
    margin-bottom: 2.4rem;
}

.card__item.second .card__list {
    margin-bottom: 2.1rem;
}

.card__item.third .card__list {
    margin-bottom: 3.4rem;
}

.card__item-date {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    background-color: #1298BD;
    border-radius: 0px 40px;
    color: #fff;

    padding: 1.3rem 3.2rem;
}

.item__title.card__title {
    margin: 0 0 2rem 0;
}

.card__text {
    margin: 0 0 2rem 0;
}

.card__list {
    margin: 0 0 2rem 0;

    list-style: none;
}

.card__list-item {
    margin: 0 0 1rem 0;
    padding: 0 0 0 2.7rem;

    position: relative;
}

.card__list-item:before {
    content: "";
    background-image: url('/src/img/card/list-star.svg');
    width: 21px;
    height: 21px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.card__list-item:last-child {
    margin-bottom: 0;
}

.card__footer {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card__footer-content {}

.card__img {
    position: relative;
}

.card__img img {
    /* position: absolute; */
    object-fit: cover;
    /* bottom: 0;
    right: 0;
    z-index: 1; */
    display: block;
    max-width: 100%;
    height: auto;

    margin: 0 auto;

    /* width: 100%; */
    /* height: 100%; */
}

/* .card__item.first .card__img {
    padding-left: 56%;
}

.card__item.second .card__img {
    padding-left: 47%;
}

.card__item.third .card__img {
    padding-left: 46%;
} */

.card__price {
    color: #1298BD;

    font-weight: 600;
    font-size: 20px;

    margin: 0 0 4rem 0;
}

/* NEWS */

.news {
    position: relative;
    display: flex;
    gap: 4rem;
}

.news a {
    text-decoration: none;
    color: inherit;
}

.news__main {
    flex: 1 1 auto;
}

.news__item {
    display: flex;
    margin-bottom: 4rem;
}

.news__item:last-child {
    margin-bottom: 0;
}

.news__content {
    flex: 1 1 auto;
    padding: 2.3rem 0 2.2rem 4rem;
    position: relative;
}

.news__content .block__title {
    margin-top: 0;
}

/* .news__content:hover {
    background-color: rgba(114, 76, 251, 0.1);
    cursor: pointer;
}

.news__content:hover .news__date {
    color: #724CFB;
} */

.news__title {
    max-width: 453px;
}

.news__text {
    font-weight: 400;
    font-size: 16px;

    height: 63px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin: 1rem 0 1.5rem 0;
}

.news__image {
    position: relative;
    flex: 0 0 38%;
}

.news__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 40px;
}

.news__date {
    padding: 1.5rem 1.8rem;

    background-color: #1298BD;
    border-radius: 0px 40px;

    color: #fff;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.news__stat {
    display: flex;
    gap: 2rem;
}

.news__stat-item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.news__stat-item span {
    margin-left: 5px;
}

.news__form {
    flex: 1 1 auto;

    padding: 4rem 3.5rem;

    background-color: #E8F5F9;
    border-radius: 40px;
}

.news__form-title {
    font-weight: 700;
    font-size: 32px;
}

.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
}

.form__item {
    width: 55%;
}

.form__item-button {
    width: 39%;
}

.form__item:first-child {
    width: 100%;
}

.form__input {
    padding: 1.6rem 0;
    margin: 0 0 2rem 0;

    text-align: center;
    font-size: 1.6rem;

    background: #fff;
    border: 1px solid transparent;
    border-radius: 40px;

    width: 100%;
}

[type="email"] {
    width: 100%;
    margin: 3rem 0 0 0;
}

.form__input::placeholder {
    color: #000;
    opacity: 0.5;
}

.form__input:focus {
    outline: 0;
    border: 1px solid #1298BD;
}

.form__input:focus::placeholder {
    color: transparent;
    font-size: 0;
}

.news__form-text {
    max-width: 303px;
    font-size: 1.2rem;
    text-align: center;
    margin: 0 auto 5rem auto;
}

.news__form-text a {
    text-decoration: underline;
    color: red;
}

/* REVIEWS */

.section__header-title.reviews__title {
    border: 0;
    padding: 0;
}

/* .reviews {} */

.reviews__slider {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.reviews__item {
    flex: 1 1 auto;

    background: #E8F5F9;
    border-radius: 40px;
    padding: 2.5rem;
}

.reviews__rating {
    margin: 2rem 0 1rem 0;
    display: flex;
}

.reviews__item.opened .reviews__text,
.comments__item.opened .comment__text {
    display: unset;
}

.reviews__item.opened .reviews__overflow:after,
.comments__item.opened .reviews__overflow:after {
    transform: rotate(315deg);

    top: 35%;
}

.reviews__item:not(.opened) .reviews__text,
.comments__item:not(.opened) .comment__text {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;

    transition: all 0.3s linear;
}

.reviews__overflow {
    color: rgba(0, 0, 0, 0.5);
    margin: 2rem 0 0 0;

    position: relative;
    display: block;
    padding-right: 2rem;
}

.reviews__overflow:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.8);
}

.reviews__overflow:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 15%;
    left: 150px;
    z-index: 1;
    transform: rotate(135deg);

    transition: all 0.3s linear;
}

/* FOOTER */

.footer {
    background: #002967;
    border-radius: 40px 40px 0px 0px;

    padding: 4rem 0;

    color: #fff;
}

.footer__body {
    display: flex;
    position: relative;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 0 16.5rem 0 0;
}

.footer__content {
    display: flex;
    margin: 2rem 0 0 0;
    gap: 25rem;
}

.footer__item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* .footer__image {} */

/* .copyright {} */

/* .footer__item-title {} */

.footer__item-link {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__item-link.social {
    gap: 2rem;
}

.footer__item-link .nav__link {
    padding: 0;
}

.footer__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

/* NUMBER PAGES */

.number__pages {
    display: flex;
    align-items: center;
    gap: 2rem;

    max-width: 230px;

    margin: 8rem auto 0 auto;
}

.number__pages span {
    padding: .5rem 1.2rem;
    border-radius: 40px;
    cursor: pointer;
}

.number__pages span:hover {
    background-color: rgba(189, 18, 18, .5);
}

.number__pages span.active {
    background-color: #BD1212;
    color: #fff;
}

@media (max-width: 1440px) {}

@media (max-width: 1233px) {

    /* HEADER */

    .header__logo {
        margin-right: 2rem;
    }

    .nav__item,
    .nav__group {
        gap: 2rem;
    }

    .nav__group {
        display: block;
    }

    /* CARD */

    .card__item {
        justify-content: center;
    }

    .card__footer {
        display: block;
    }

    .card__img {
        margin: 2rem auto 0 auto;
        max-height: 152px;
    }

    .card__content {
        height: 350px;
    }

    .card__footer-content {
        display: flex;
        justify-content: space-between;
    }

    .card__price {
        margin: 0;
    }

    /* .card__item.first .card__img {
        padding-top: 64%;
    }

    .card__item.second .card__img {
        padding-top: 47%;
    }

    .card__item.third .card__img {
        padding-top: 46%;
    } */
}

@media (max-width: 992px) {

    /* HEADER */

    .header__inner {
        padding-right: 5rem;
    }

    .nav__item.nav__item-contacts,
    .button.header__button {
        display: none;
    }

    .nav__group {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }

    /* CARD */

    .card {
        flex-direction: column;
        gap: 4rem;
    }

    .card__item {
        max-width: 100%;
        width: 100%;
    }

    .card__content {
        height: auto;
    }

    .card__footer {
        display: flex;
    }

    .card__footer-content {
        flex-direction: column;
        gap: 2rem;
    }

    .card__img {
        margin: -5rem 0 0 0;
    }

    .card__price {
        display: flex;
        gap: 1rem;
    }

    /* NEWS */

    .news,
    .form {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .form {
        margin: 2rem 0;
    }

    .form__item,
    .form__item:first-child {
        width: 100%;
    }

    [type="email"] {
        width: 100%;
        margin: 0 0 0 0;
    }

    .form__input {
        margin: 0;
    }

    .form__item.form__item-button {
        width: auto;
        margin: 0 0 0 auto;
    }

    .news__form-text {
        max-width: 100%;
    }

    .news__form-image img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* REVIEWS */

    .reviews__text {
        -webkit-line-clamp: 6;
    }

    /* FOOTER */

    .footer__logo {
        margin: 0 4rem 0 0;
    }

    .footer__content {
        margin: 2rem 6rem 0 0;
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }
}

@media (max-width: 770px) {

    /* HEADER */

    .nav {
        display: none;
    }

    /* CARD */

    .card__img {
        display: none;
    }

    /* NEWS */

    .news__item {
        display: block;
    }

    .news__image {
        flex: auto;
        padding-top: 35%;
    }

    .news__content {
        padding: 2rem;
    }

    /* FOOTER */

    .footer__body {
        display: block;
    }

    .footer__logo {
        flex-direction: row;
        margin: 0;
        align-items: flex-end;
    }

    .copyright {
        padding-bottom: 2rem;
    }

    .footer__content {
        width: auto;
        margin-left: 2rem;
    }


}

@media (max-width: 640px) {

    .slick-initialized .slick-slide {
        margin-right: 0;
    }

}

@media (max-width: 575px) {

    .slick-slider {
        padding: 0 4rem;
    }

    .section__header-title {
        font-size: 2.4rem;
        margin-right: 1rem;
        padding-right: 1rem;
    }

    .section__header-subtitle {
        font-size: 1.6rem;
    }

    .section__header-subtitle img {
        display: none;
    }

    /* INTRO */

    .intro__title {
        font-size: 4rem;
        line-height: 1.3;
        word-break: break-word;
    }

    .intro__subtitle {
        margin: 2rem 0 4rem 0;

        font-size: 1.8rem;
    }

    /* PROMO */

    .promo {
        flex-direction: column;
        gap: 2rem;
        margin: 8rem 0 0 0;
    }

    .promo__item {
        display: flex;
        align-items: center;
    }

    .promo__icon {
        position: relative;
    }

    .promo__icon img {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        transform: translateY(-50%);
    }

    .promo__text {
        margin-top: 2rem;
        padding: 0 0 0 6rem;
        max-width: 100%;
    }

    /* NEWS */

    .news__image {
        padding-top: 50%;
    }

    .news__form {
        padding: 2rem;
    }

    .news__form-title {
        font-size: 2.4rem;
    }

    /* FOOTER */

    .footer {
        padding: 2rem 0 0 0;
    }

    .footer__content {
        margin: 0;
    }

    .footer__item {
        display: none;
    }

    .footer__logo {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media (max-width: 300px) {}